.projects-container {
    position: relative;
}

.projects-container::after {
    content: '';
    position: absolute;
    width: 2px;
    background: #e9af8b;
    top: 0;
    left: 4px;
    margin-left: 0;
    bottom: 0;
    z-index: -1;
}

.project-item {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

.project-title {
    line-height: 1.5;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.project-description {
    line-height: 2;
    font-size: 14px;
}

.project-metadata {
    display: flex;
    line-height: 2;
    justify-items: center;
    gap: 0.5em;
    font-style: italic;
}