.leftside-container {
    color: #FFF;
    min-width: 250px;
    display: inline-block;
    vertical-align: top;
}

.leftside-container nav ul {
    display: block;
}

.leftside-container nav ul li {
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
    font-family: 'Alegreya Sans';
    line-height: 1.3;
    position: relative;
    z-index: 2;
    margin: 2px 15px;
}

.leftside-container nav ul li a {
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 1.7px;
    text-decoration: none;
    text-shadow: 1px 1px #000;
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
}

.leftside-container nav ul li a::before {
    content: "";
    width: 0%;
    transition: width .5s ease-in;
    display: block;
}

.leftside-container nav ul li:hover a::before {
    content: "";
    height: 10px;
    bottom: 0px;
    left: 0;
    z-index: -1;
    background: #d48150;
    width: 90%;
    display: block;
    position: absolute;
}

.menu-container {
    padding-top: 20px;
    background: #e9af8b;
    position: fixed;
    height: 100vh;
    min-width: 270px
}

.name-title {
    font-size: 40px;
    text-transform: uppercase;
    line-height: 1;
    margin: 10px 0 40px 0;
    text-align: center;
    letter-spacing: 2.5px;
}

.name-title > span {
    color: #d48150;
    font-weight: bold;
}

.profile-img {
    padding: 0;
}

.profile-img img {
    border-radius: 50%;
    margin: 0 auto;
    display: block;
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

.mobile-menu {
    display: none;
}

.lang {
    display: inline-flex;
    gap: 1em;
    cursor: pointer;
}

.es {
    background: url('../../../public/img/skills/espanol.png') center center no-repeat;
}

.en {
    background: url('../../../public/img/skills/ingles.png') center center no-repeat;
}

.menu {
    background: url('../../../public/img/menu.png') center center no-repeat;   
    margin: 15px;                                                      
}

.menu, 
.es, 
.en {
    background-size: cover;
    cursor: pointer;
    width: 32px;
    height: 32px;  
}

.contact-data {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFF;
    font-weight: bold;
    font-size: 13px;
}

.contact-data p {
    padding: 0px 15px;
    line-height: 1.5;
    text-transform: uppercase;
}

.contact-data span {
    font-weight: normal;
    text-transform: capitalize;
}

.contact-data a {
    color: #7c4b2f
}

/* Screen max 768px (tablets & phones) */

@media only screen and (max-width: 768px) {
    .menu-container {
        position: relative;
        height: 100%;
        padding-top: 55px;
    }

    nav ul {
        height: 100vh;
    }

    .leftside-container nav ul li {
        margin: 30px 10px !important;
    }

    .leftside-container nav ul li a {
        font-size: 45px !important;
    }

    .profile-img,
    .name-title {
        display: none;
    }

    .mobile-menu {
        position: fixed;
        width: 100%;
        display: flex;
        font-size: 20px;
        flex-direction: row-reverse;
        gap: 10px;
        align-items: center;
        z-index: 99;
        top: 0;
        background-color: #e9af8b;
        box-shadow: -1px 1px 12px 0px #121212a1;
    }

    .rightside-container [class^="contenedor-der__"] {
        min-height: 100vh;
    }

    .lang {
        display: none;
    }

    .contact-data { 
        position: sticky;
        bottom: 0;
    }
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.1);
		transform: translatey(-5px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(0px);
	}
}