.skills-container {
    gap: 20px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.skill {
    padding: 0;
    margin: 0;
    height: 20px;
    display: inline-flex;
    gap: 5px;
}

@media only screen and (max-width: 768px) {
    .skills-container {
        gap: 40px;
        grid-template-columns: auto auto;
    }
}