@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    font-family: 'Open Sans';
    font-size: 12px;
    scroll-behavior: smooth;
    background: #c48763 !important;
}

hr {
    border: 0.5px solid #f3f3f3;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Alegreya Sans';
}

a {
    color: #e9af8b;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	background-color: #e9af8b;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 1024px;
    margin: 0 auto;
}

.rightside-container {
    display: inline-block;
    background: #c48763;
    margin: 0 auto;
    padding: 2em 4em;
}

ul, ol {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    text-transform: uppercase;
    line-height: 1.5;
}

.rightside-container h2 {    
    font-size: 35px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
    font-family: 'Alegreya Sans';
    line-height: 2;
    letter-spacing: 1.7px;
    position: relative;
    z-index: 2;
    color: #000;    
    text-shadow: 1px 1px #FFF;
    margin: 10px 0;
}

.rightside-container h2::after {
    content: "";
    height: 20px;
    bottom: 15px;
    left: 0;
    z-index: -1;
    background: #e9af8b;
    display: block;
    position: absolute;
    width: -webkit-fill-available;
}

/* Screen max 768px (tablets & phones) */

@media only screen and (max-width: 768px) {
    .container {        
        -webkit-flex-flow: column;
        flex-flow: column;
    }

    .leftside-container, 
    .rightside-container {
        width: 100%;
    }

    .rightside-container {
        padding: 2em;
    }

    h1 {
        margin: 0;
    }
}